In [1]:
#4.1

pizzas=['Margherita','Tonno','Hawaii']
for pizza in pizzas:
    print(pizza)

Margherita
Tonno
Hawaii

In [3]:
for pizza in pizzas:
    print('I like '+pizza+' pizza.')

I like Margherita pizza.
I like Tonno pizza.
I like Hawaii pizza.

In [8]:
for pizza in pizzas:
    print('I like '+pizza+' pizza.')

print('I really like pizza!')

I like Margherita pizza.
I like Tonno pizza.
I like Hawaii pizza.
I really like pizza!

In [11]:
#4.2

animals=['dog','cat','rabbit']

for animal in animals:
    print(animal)

dog
cat
rabbit

In [12]:
for animal in animals:
    print('A '+animal+' would make a great pet.')

A dog would make a great pet.
A cat would make a great pet.
A rabbit would make a great pet.

In [13]:
for animal in animals:
    print('A '+animal+' would make a great pet.')
    
print('Any these of animals would be make a great pet!')

A dog would make a great pet.
A cat would make a great pet.
A rabbit would make a great pet.
Any these of animals would be make a great pet!

In [14]:
#4.3

for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
#4.4
numbers=[]
for i in range(1,1000000):
    numbers.append(i)
print(numbers)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [16]:
#4.5
sum(numbers)

499999500000

In [17]:
min(numbers)

1

In [18]:
max(numbers)

999999

In [20]:
#4.6
x=list(range(1,20,2))
for i in x:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [21]:
#4.7

y=list(range(3,30,3))
for i in y:
    print(i)

3
6
9
12
15
18
21
24
27

In [32]:
#4.8

cubes=[]
for value in range(1,11):
    cube=value**3
    cubes.append(cube)
for i in cubes:
    print(i)

1
8
27
64
125
216
343
512
729
1000

In [34]:
#4.9
cubes=[value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [45]:
#4.10

players = ['charles', 'martina', 'michael', 'florence', 'eli']

print('The first three items in the list are:')
for i in players[:3]:
    print(i.title())

The first three items in the list are:
Charles
Martina
Michael

In [46]:
print('Three items from the middle of the list are:')
for j in players[2:4]:
    print(j.title())

Three items from the middle of the list are:
Michael
Florence

In [48]:
print('The last three items in the list are:')
for k in players[-3:]:
    print(k.title())

The last three items in the list are:
Michael
Florence
Eli

In [50]:
#4.11

pizzas=['Margherita','Tonno','Hawaii']
friend_pizzas=['Margherita','Tonno','Hawaii']
pizzas.append('Pepperoni')
friend_pizzas.append('Funghi')
print(pizzas)
print(friend_pizzas)

['Margherita', 'Tonno', 'Hawaii', 'Pepperoni']
['Margherita', 'Tonno', 'Hawaii', 'Funghi']

In [52]:
print('My favourite pizzas are:')
for i in pizzas:
    print(i.title())

My favourite pizzas are:
Margherita
Tonno
Hawaii
Pepperoni

In [53]:
print("My friend's favourite pizzas are:")
for j in friend_pizzas:
    print(j.title())

My friend's favourite pizzas are:
Margherita
Tonno
Hawaii
Funghi

In [54]:
#4.13

buffet=('pizza','hamburger','pasta','fries','falafel')
for food in buffet:
    print(food)

pizza
hamburger
pasta
fries
falafel

In [55]:
buffet[0]='snack'

TypeError: 'tuple' object does not support item assignment

In [56]:
buffet= ('snack','hamburger','kebab','fries','falafel')
print('Modified Menu:')
for k in buffet:
    print(k.title())

Modified Menu:
Snack
Hamburger
Kebab
Fries
Falafel